section .functionality, section .card, .menu__list {
  margin: 2rem 1rem 0 1rem;
}

body {
  font-family: "Roboto", sans-serif, "Shrikhand", cursive;
  margin: 1rem 0 0 0;
  width: 100%;
}

section {
  background-color: #e9e9e9;
  padding-top: 1rem;
}

footer {
  background-color: #353535;
  padding-top: 1rem;
  color: #fff;
}

footer ul {
  list-style: none;
  padding-left: 1.5rem;
  margin-bottom: 0;
}

footer ul li {
  padding-bottom: 1rem;
  font-weight: bold;
}

h1, h2, h4, p, li {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
}

h4 {
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

.btn__welcome {
  border-radius: 50px;
  background-color: #FF79DA;
  padding: 1rem 1.2rem;
  border: none;
  color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 70%;
  -webkit-box-shadow: 0px 5px 5px black;
          box-shadow: 0px 5px 5px black;
}

.btn__welcome:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px #333333;
          box-shadow: 0px 5px 5px #333333;
}

.btn__menu {
  border-radius: 50px;
  background-color: #FF79DA;
  padding: 1rem 1.2rem;
  border: none;
  color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 50%;
  -webkit-box-shadow: 0px 5px 5px black;
          box-shadow: 0px 5px 5px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn__menu:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px #333333;
          box-shadow: 0px 5px 5px #333333;
}

.btn__save {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  border: none;
}

.btn__save:hover {
  cursor: pointer;
  -webkit-transform: scaleY(2);
          transform: scaleY(2);
  background-color: #99E2D0;
}

.logo__head {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo__footer {
  width: 6rem;
  margin-left: 1.5rem;
  fill: #fff;
}

img.imagecard__welcome {
  width: 100%;
  height: 12rem;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

img.imagecard__menu {
  width: 100%;
  height: 15rem;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
  margin-top: 1rem;
}

i.fas {
  padding-right: 1.5rem;
}

i.fas.fa-store::before {
  color: #9356DC;
}

i.fas.fa-arrow-left {
  margin-left: 1rem;
  padding-right: 0;
}

i.far {
  font-size: 1.5rem;
  font-weight: 100;
}

@-webkit-keyframes animspin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes animspin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes opacitywelcome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacitywelcome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes movedish {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes movedish {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.loader {
  border-radius: 50%;
  border-top: 16px solid #9356DC;
  border-right: 16px solid #FF79DA;
  border-bottom: 16px solid #99E2D0;
  border-left: 16px solid black;
  width: 200px;
  height: 200px;
  -webkit-animation: animspin 2s linear;
  animation: animspin 2s linear;
  position: fixed;
  -webkit-animation-duration: 2300ms;
          animation-duration: 2300ms;
  pointer-events: none;
  opacity: 0;
  content: "";
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader__welcome {
  -webkit-animation: opacitywelcome 5500ms;
          animation: opacitywelcome 5500ms;
}

section.localisation__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: gainsboro;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  -webkit-box-shadow: 0px -5px #c3c3c3;
          box-shadow: 0px -5px #c3c3c3;
}

section.presentation__site {
  padding: 2rem;
  text-align: center;
}

section.nogrey {
  background-color: #fff;
}

section .functionality span {
  background-color: #9356DC;
  border-radius: 10rem;
  padding: 0 5px;
  margin-right: 1rem;
  color: #fff;
}

section .functionality__instruction {
  border-radius: 50px;
  margin-bottom: 1.5rem;
  background-color: #e9e9e9;
  padding: 1.5rem 1rem 1.5rem 0;
  font-weight: bold;
}

section .functionality__instruction.active {
  background-color: #f2eafb;
}

section .main h2 {
  padding-left: 1.5rem;
}

section .card {
  position: relative;
}

section .card .card__new {
  background-color: #99E2D0;
  width: 20%;
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

section .card__restaurant {
  border-radius: 50px;
  margin-bottom: 1.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 5px black;
          box-shadow: 0px 5px 5px black;
}

section .card__restaurant--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__curve {
  border-radius: 50px 50px 0 0;
  padding-bottom: 2rem;
}

.menu__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__dish {
  border-radius: 10px;
  margin-bottom: 1.5rem;
  background-color: #fff;
  padding: 0 1rem 0 0.5rem;
  -webkit-box-shadow: 0px 5px 5px black;
          box-shadow: 0px 5px 5px black;
  position: relative;
  -webkit-animation: movedish 2s ease-in-out 200ms 1 normal both;
          animation: movedish 2s ease-in-out 200ms 1 normal both;
}

.menu__dish:hover::after {
  cursor: pointer;
  content: "fas fa-check";
  background-color: #99E2D0;
  position: absolute;
}

.menu__dish--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__category {
  border-bottom: 2px solid green;
  width: 10%;
}
/*# sourceMappingURL=styles.css.map */