@import "./sass/utils/variables";
@import "./sass/base/display";
@import "./sass/utils/mixins";
@import "./sass/components/buttons";
@import "./sass/components/logo";
@import "./sass/components/images";
@import "./sass/components/icons";
@import "./sass/utils/keyframes";
@import "./sass/pages/welcomepage";
@import "./sass/pages/menu";




