.card,
.functionality {
  margin: 0 1rem;
}

body {
  font-family: "Roboto", sans-serif, "Shrikhand", cursive;
  margin: 1rem 0 0 0;
  width: 100%;
}

section {
  background-color: #e9e9e9;
}

footer {
  background-color: #353535;
  padding-top: 1rem;
  color: #fff;
}

footer ul {
  list-style: none;
  padding-left: 1.5rem;
  margin-bottom: 0;
}

footer ul li {
  padding-bottom: 1rem;
  font-weight: bold;
}

h1, h2, h4, p, li {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Shrikhand", cursive;
}

h4 {
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 50px;
  background-color: #FF79DA;
  padding: 1rem 1.2rem;
  border: none;
  color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 70%;
}

.logo__head {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo__footer {
  width: 6rem;
  margin-left: 1.5rem;
  color: #fff;
}

img.imagecard__welcome {
  width: 100%;
  height: 12rem;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

img.imagecard__menu {
  width: 100%;
  height: 15rem;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
  margin-top: 1rem;
}

i.fas {
  padding-right: 1.5rem;
}

i.fas.fa-store::before {
  color: #9356DC;
}

i.fas.fa-arrow-left {
  margin-left: 1rem;
  padding-right: 0;
}

i.far {
  font-size: 1.5rem;
  font-weight: 100;
}

section.localisation__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: gainsboro;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  -webkit-box-shadow: 0px -5px #c3c3c3;
          box-shadow: 0px -5px #c3c3c3;
}

section.presentation__site {
  padding: 2rem;
  text-align: center;
}

section.nogrey {
  background-color: #fff;
}

div.functionality__instruction {
  border-radius: 50px;
  margin-bottom: 1.5rem;
  background-color: #e9e9e9;
  padding: 1.5rem 1rem 1.5rem 0;
  font-weight: bold;
}

div.functionality__instruction.active {
  background-color: #f2eafb;
}

div.card {
  margin: 3rem 1rem 0 1rem;
  padding: 1rem 0;
}

div.card__restaurant {
  border-radius: 50px;
  margin-bottom: 1.5rem;
  background-color: #fff;
}

div.card__restaurant--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

span {
  background-color: #9356DC;
  border-radius: 10rem;
  padding: 0 5px;
  margin-right: 1rem;
  color: #fff;
}

p.card {
  position: relative;
}

p.card__new {
  background-color: turquoise;
  width: 20%;
  padding: 0.5rem;
  position: absolute;
  top: 820px;
  left: 250px;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__dish {
  border-radius: 20px;
  margin-bottom: 1.5rem;
  background-color: #fff;
  padding: 0 1rem 0 0.5rem;
}

.menu__dish--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=styles.css.map */