.btn{
    &__welcome{
        @include button();
        &:hover{
            cursor: pointer;
            box-shadow: 0px 5px 5px lighten(black, 20%);
            
        }
    }
    &__menu{
        @include button(50%);
        @include logohead;
        &:hover{
            cursor: pointer;
            box-shadow: 0px 5px 5px lighten(black, 20%);
        }
    }
    &__save{
       
        &:hover{
            cursor: pointer; 
            background: $linearGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: initial;
            opacity: 1;
           
        }
    }
      
}