.btn{
    &__welcome{
        @include button();
        @media all and (min-width:500px) and (max-width:900px) {
            @include button(40%)
        }
        &:hover{
            cursor: pointer;
            box-shadow: 0px 5px 5px lighten(black, 20%);
            
        }
    }
    &__menu{
        @include button(50%);
        @include logohead;
        @media all and (min-width:500px) and (max-width:900px) {
          @include button(30%);
        }
        &:hover{
            cursor: pointer;
            box-shadow: 0px 5px 5px lighten(black, 20%);
        }
    }
    &__save{
        & .fas{
            color: #d480d4;
            position: absolute;
            transform: scale(0);
            
        }
        & .far{
             position: absolute;
        }
        &:hover .fas{
            cursor: pointer; 
            transform-origin: bottom;
            transition: transform 1000ms;
            transform: scale(1);
            

            
           
        }
    }
      
}
