i.fas{
   padding-right: 1.5rem;
   
   &.fa-store::before{
    color: $primarycolor;


   }  
   &.fa-arrow-left{
      margin-left: 1rem;
      padding-right: 0;
   }
}
i.far{
   font-size: 1.5rem;
   font-weight:100;
   
}