i.fas{
   padding-right: 1.5rem;
   
   &.fa-store::before{
    color: $primarycolor;


   }  
   &.fa-arrow-left{
      margin-left: 1rem;
      padding-right: 0;
   }
   &.fa-check-circle::before{
      color: #fff;
      font-size: 1.5rem;
      padding-left: 20px;
   }
}
i.far , .fa-heart{
   font-size: 1.5rem;
   ::before{
    position: absolute;
    right: 10px;
    top: 75px;
   }
   

   
   
}