img.imagecard{
    &__welcome{
        object-fit: cover;
        @include imagecard (100%, 12rem);
        @media all and (min-width:500px){
            @include imagecard (100%, 14rem);

        }
}
    &__menu{
        object-fit: cover;
        @include imagecard (100%, 16rem);
        border-radius: 0;
        margin-top: 1rem;
        @media all and (min-width:500px){
            @include imagecard (100%, 20rem);

        }
    }
}