body {
  font-family: "Shrikhand", cursive, "Roboto", sans-serif;
  margin:1rem 0 0 0;
  width: 100%;
}
main{
  width: 100%;
  
}

h1,h2,h4, p{
  font-family: "Roboto", sans-serif;
  
}

h3{
  font-family: "Shrikhand", cursive;
}


