body {
  font-family: "Shrikhand", cursive, "Roboto", sans-serif;
  margin:1rem 0 0 0;
  width: 100%;
}
main{
  margin: 0 1rem;
  
}

h1,h2,h4, p, li{
  font-family: "Roboto", sans-serif;
  
}

h3{
  font-family: "Shrikhand", cursive;
}
section.functionality{
  background-color: #fff;
}

