%marginbloc{
  margin: 0 1rem;
}

body {
  font-family:"Roboto", sans-serif, "Shrikhand", cursive;
  margin:1rem 0 0 0;
  width: 100%;
}
section{
  background-color: $colorgrey;
}
footer{
  background-color: #353535;
  padding-top: 1rem;
  color: #fff;
  ul{
    list-style: none;
    padding-left: 1.5rem;
    margin-bottom: 0;
    li{
      padding-bottom: 1rem;
      font-weight: bold;
    }
  }
  
}

h1 ,h2 ,h4 ,p ,li {
  font-family: "Roboto", sans-serif;
  
}

h3{
  font-family: "Shrikhand", cursive;
}
h4{
  margin-bottom: 0.5rem;
}
p{
  margin-top:0;
  
}


a{
  text-decoration: none;
}

