@media all and (min-width:500px) and (max-width:900px){
  .menu{
      .menu__restaurant{
          display: flex;
          justify-content: space-evenly;
      }
      .menu__category{
          font-size: 1.5rem;
      }
      .menu__dish{
        .menu__content{
            width: 100%;
            &--details{
                width: 100%;
            }
        }
        &:hover{
            max-width: 400px;
            .menu__content--detail{
                max-width: 400px;
            }
        }
        
      }
  }  
}