.menu {
    border-radius: 50px 50px 0 0;
    padding-bottom: 2rem;
    position: relative;
    margin-top: -40px;
    
    .menu__header {
    display: flex;
    align-items: center;
    }

    .menu__list {
    @extend %marginbloc;
    
  }
  
  .menu__restaurant{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu__dish {
    @include curvemargin(15px);
    background-color: #fff;
    padding-left: 0.5rem;
    box-shadow: $shadow;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: menutranslateY 2s ease-in-out 200ms 1 normal both;
    .menu__icon {
      border-radius: 0 15px 15px 0;
      justify-content: center;
    
      align-items: center;
      background: $thirdcolor;
      position: absolute;
      display: flex;
      right: -70px;
      width: 70px;
      height: 100%;
      top: 0;
      
  
    }
    .menu__content{
      width: 500px;
      position: relative;
      display: flex;
      justify-content: space-between;

      .menu__content--detail{
        max-width: 500px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      
      .menu__content--price{
         display: flex;
         align-items: flex-end;
         font-weight: bold;
         padding-right: 5px;
      }
  }
  .menu__price {      
    font-weight: bold;
    margin: 0;
    padding-right: 10px;
    padding-bottom: 10px;
  }
    &:hover{
      .menu__content--detail{

        max-width: 200px;
        transition: all 400ms ease ;
      }
      .menu__icon, .menu__content--price{
          animation: menucontent 800ms cubic-bezier(1,-0.3,0,1.05) 1 normal both;
          .fa-check-circle{
            animation: spincheck 1500ms cubic-bezier(.68,.05,1,.71) 100ms 1 normal both;
          }
         }
         
    }
    
  }
  .menu__category {
    border-bottom: 2px solid green;
    width: 10%;
  }
  
  
}
