.menu{
    &__header{
        display: flex;
        align-items: center;
    }
    &__restaurant{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__dish{
        @include curvemargin(20px);
        background-color: #fff;
        padding: 0 1rem 0 0.5rem;
        &--info{
            display: flex;
            justify-content: space-between;
        }
    }
}