.menu {
  &__header {
    display: flex;
    align-items: center;
  }
  
  &__list {
    @extend %marginbloc;
    
  }
  &__curve {
    border-radius: 50px 50px 0 0;
    padding-bottom: 2rem;
    position: relative;
    margin-top: -40px;
    
  }
  &__restaurant{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__dish {
    @include curvemargin(10px);
    background-color: #fff;
    padding-left: 0.5rem;
    box-shadow: $shadow;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: menutranslateY 2s ease-in-out 200ms 1 normal both;
    
  }
  &__category {
    border-bottom: 2px solid green;
    width: 10%;
  }
  &__icon {
    border-radius: 0 15px 15px 0;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    background: $thirdcolor;
    position: absolute;
    display: flex;
    right: -50px;
    width: 50px;
    height: 100px;
    top: 0;
    
  }
  &__content{
      width: 100%;
      position: relative;
  }
  &__price {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-weight: bold;
    margin: 0;
  }
}
