.menu {
    border-radius: 50px 50px 0 0;
    padding-bottom: 2rem;
    position: relative;
    margin-top: -40px;
    
    .menu__header {
    display: flex;
    align-items: center;
    }

    .menu__list {
    @extend %marginbloc;
    
  }
  
  .menu__restaurant{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu__dish {
    @include curvemargin(15px);
    background-color: #fff;
    padding-left: 0.5rem;
    box-shadow: $shadow;
    position: relative;
    overflow: hidden;
    animation: menutranslateY 2s ease-in-out 200ms 1 normal both;
    &:hover{
      .title, .text{

        transition: all 2s ease;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 200px;
      }
      .menu__icon, .menu__price{
          animation: menucontent 800ms cubic-bezier(1,-0.3,0,1.05) 1 normal both;
          .fa-check-circle{
            animation: spincheck 1500ms cubic-bezier(.68,.05,1,.71) 100ms 1 normal both;
          }
         }
         
    }
    }
    .menu__icon {
      border-radius: 0 15px 15px 0;
      justify-content: center;
      align-items: center;
      background: $thirdcolor;
      position: absolute;
      display: flex;
      right: -70px;
      width: 70px;
      height: 100%;
      top: 0;   
  }
  .menu__price {      
    font-weight: bold;
    position: absolute;
    font-size: 14px;
    right: 20px;
    bottom: 8px;
  }
    
    
  }
  .menu__category {
    border-bottom: 2px solid green;
    width: 10%;
  }
  
  

