
.menu{
    &__header{
        display: flex;
        align-items: center;
    }
    &__curve{
        border-radius: 50px 50px 0 0;
        padding-bottom: 2rem;
        position: relative;
        margin-top: -40px;
    }
    &__list{
        @extend %marginbloc;
        
    }
    &__restaurant{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__dish{
        @include curvemargin(10px);
        background-color: #fff;
        padding: 0 1rem 0 0.5rem;
        box-shadow: $shadow;
        position: relative;
        animation: movedish 2s ease-in-out 200ms 1 normal both;
        &:hover::after{
            cursor: pointer;
            content: "fas fa-check";
            background-color: $thirdcolor;
            position: absolute;
        }
        &--info{
            display: flex;
            justify-content: space-between;
        }
    }
    &__category{
        border-bottom: 2px solid green;
        width: 10%;
    }
}
