@media all and (min-width:901px){
    .menu {
        &__list{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .menu__dish{
            width: 60%;   
            &:hover{
                .title, .text{
                  width: 1000px;
                }
            }
            
        }
        &__category{
            font-size: 2rem;
        }
    }
}

