.loader{
  border-radius: 50%;
    border-top: 16px solid $primarycolor;

    border-bottom: 16px solid $secondcolor;
    
    width: 200px;
    height: 200px;
    -webkit-animation: animspin 2s linear;
    animation: animspin 2s linear;
    position: fixed;
    animation-duration: 2000ms;
    pointer-events: none;
    opacity: 0;
    content: "";
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  &__welcome{
    animation:opacitywelcome 5500ms ;
  }
}

section {
  &.localisation__city {
    display: flex;
    justify-content: center;
    background-color: darken($colorgrey, 5%);
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    box-shadow: 0px -5px darken($colorgrey, 15%);
  }
  &.presentation__site {
    padding: 2rem;
    text-align: center;
  }
  &.nogrey{
    background-color: #fff;
  }
  
  .functionality {
    @extend %marginbloc;
    & span {
      background-color: $primarycolor;
      border-radius: 10rem;
      padding: 0 5px;
      margin-right: 1rem;
      color: #fff;
      
    }
    & .fas{
      padding-left:1.5rem;
    }
    &__instruction {
      @include curvemargin();
      background-color: $colorgrey;
      padding: 1.5rem 1rem 1.5rem 0;
      font-weight: bold;
      position: relative;
      & .number{
        position: absolute;
        left: -10px;

      }
      &.active {
        background-color: lighten($primarycolor, 35%);
      }
    }
  }
  
  .card {
    
    @extend %marginbloc;
    position: relative;
    .card__new{
        background-color:$thirdcolor;
        width: 20%;
        padding: 0.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        text-align: center;
    }    
    &__restaurant {
      @include curvemargin();
      background-color: #fff;
      box-shadow: $shadow;
      &--info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        
      }
    }
  }
}



