section {
  &.localisation__city {
    display: flex;
    justify-content: center;
    background-color: darken($colorgrey, 5%);
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    box-shadow: 0px -5px darken($colorgrey, 15%);
  }
  &.presentation__site {
    padding: 2rem;
    text-align: center;
  }
  &.nogrey{
    background-color: #fff;
  }
  
}

div {
  &.functionality {
    &__instruction {
      @include curvemargin();
      background-color: $colorgrey;
      padding: 1.5rem 1rem 1.5rem 0;
      font-weight: bold;
      &.active {
        background-color: lighten($primarycolor, 35%);
      }
    }
  }

  &.card {
    margin: 3rem 1rem 0 1rem;
    padding: 1rem 0;
    &__restaurant {
      @include curvemargin();
      background-color: #fff;

      &--info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        
      }
    }
  }
}

span {
  background-color: $primarycolor;
  border-radius: 10rem;
  padding: 0 5px;
  margin-right: 1rem;
  color: #fff;
}

.card,
.functionality {
  @extend %marginbloc;
}
p.card{
    position: relative;
    &__new{
        background-color: turquoise;
        width: 20%;
        padding: 0.5rem;
        position: absolute;
        top: 820px;
        left: 250px;
    }
}