@keyframes animspin {
    0% { transform: rotate(0deg);
        opacity: 1;
    }
    100% { transform: rotate(360deg); 
           opacity: 0;
    }
}

@keyframes opacitywelcome{
    0% {
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes menutranslateY{
    0%{
        opacity: 0;
        transform: translatey(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes menucontent{
    0%{
        
        transform:translateX(0px);
        
    }
    100%{
        
        transform: translateX(-70px);
    }
}
