@mixin logohead {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@mixin logofooter {
    width: 6rem;
    margin-left: 1.5rem;

}
@mixin button($widht:70%) {
    border-radius: 50px;
    background-color: $secondcolor;
    padding: 1rem 1.2rem;
    border: none;
    color: #FFF;
    background: linear-gradient($secondcolor, $primarycolor);
    width: $widht;
}
@mixin imagecard ($width, $height) {
    width: $width;
    height: $height;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

@mixin curvemargin($radius:50px) {
    border-radius: $radius;
    margin-bottom: 1.5rem;
}