@mixin logohead {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@mixin logofooter {
    width: 6rem;
    margin-left: 1.5rem;

}
@mixin button {
    border-radius: 50px;
    background-color: $secondcolor;
    padding: 1rem 1.2rem;
    border: none;
    color: #FFF;
    background: linear-gradient($secondcolor, $primarycolor);
    width: 70%;
}
@mixin imagecard {
    width: 100%;
    height: 12rem;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}